.McKenzie {
    border-width: 300px;
    margin: 0 auto;
    text-align: center;
    height: 200px;
    width: 300px;
    background-position: center;
    background-image: url(https://m.media-amazon.com/images/S/pv-target-images/079084dd7dd92ea1b6082812d5bccf5861695d69a74aa41506da13a84c95798c._SX1080_FMjpg_.jpg)
}
